/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-snack-bar-container {


    &.app-notification-error {
        --mat-mdc-snack-bar-button-color: #000000;
        --mdc-snackbar-supporting-text-color: #000000;
        --mdc-snackbar-container-color: rgba(250, 50, 50, 0.5);
    }

    &.app-notification-success {
        --mat-mdc-snack-bar-button-color: #000000;
        --mdc-snackbar-supporting-text-color: #000000;
        --mdc-snackbar-container-color: rgba(123, 250, 50, 0.5);
    }

    &.app-notification-warning {
        --mat-mdc-snack-bar-button-color: #000000;
        --mdc-snackbar-supporting-text-color: #1a1717;
        --mdc-snackbar-container-color: rgba(250, 237, 50, 0.5);
    }
}