/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-snack-bar-container {


    &.app-notification-error {
        --mat-mdc-snack-bar-button-color: #000000;
        --mdc-snackbar-supporting-text-color: #1a1717;
        --mdc-snackbar-container-color: #f23a2f;
    }

    &.app-notification-success {
        --mat-mdc-snack-bar-button-color: #ffffff;
        --mdc-snackbar-supporting-text-color: #ffffff;
        --mdc-snackbar-container-color: #43a446;
    }

    &.app-notification-warning {
        --mat-mdc-snack-bar-button-color: #000000;
        --mdc-snackbar-supporting-text-color: #1a1717;
        --mdc-snackbar-container-color: #e9d062;
    }
}